@page "/"

<PageTitle>Загрузі файлы гульні</PageTitle>

<h3>Абяры файл</h3>
<InputFile OnChange="OnFileChanged"></InputFile>
@if (_hasUploaded)
{
    <h4>Файлы паспяхова загружаныя!</h4>
}

@code {

    private bool _hasUploaded;

    private async void OnFileChanged(InputFileChangeEventArgs e)
    {
        var stream = e.File.OpenReadStream();
        var rd = new StreamReader(stream);
        var text = await rd.ReadToEndAsync();
        Console.WriteLine(text);
        _hasUploaded = true;
        StateHasChanged();
    }

}